RECONNECT_DELAY_MAX=5
AUDIO_DEVICE=alsa
RTSP_URL=rtsp://example.com/stream
OUTPUT_DIR=./output
OUTPUT_FILE_PATTERN=class_%Y%m%d_%H%M%S.mp4
SEGMENT_TIME=300
API_HOST=example.com
API_TOKEN=your_token
VERIFY_PATH=./ca.pem
